
root{
	background-color: #ffffff;
	width: 100%;
}
city{
	display: block;
	margin-bottom: 30pt;
	margin-left: 0;
}
cityname{
	color: #FF0000;
	font-size: 20pt;
}

name,age,YEAR,gangwei{
	display: block;
	color: #000000;
	margin-left: 20pt;
}
gangwei{
	color: #0000FF;
	font-size: 20pt;
}